<!-- IF S_IN_SEARCH and S_QTE_SELECT -->
<dl>
	<dt><label for="attribute">{L_QTE_ATTRIBUTE_SEARCH}{L_COLON}</label><br /><span>{L_QTE_ATTRIBUTE_SEARCH_EXPLAIN}</span></dt>
	<dd><select name="attr_id" id="attribute">
		<option style="padding-left:0px; font-weight:bold;" value="0">{L_QTE_ATTRIBUTE_SELECT}</option>
		<!-- BEGIN attributes -->
		<option value="{attributes.QTE_ID}"{attributes.QTE_COLOUR}>{attributes.QTE_NAME}<!-- IF attributes.S_QTE_DESC --> [{attributes.QTE_DESC}]<!-- ENDIF --></option>
		<!-- END attributes -->
	</select></dd>
</dl>
<!-- ENDIF -->
