/**
*
* file: styles/prosilver/theme/qte.css
* author: abdev
* begin: 02/28/2008
* version: 0.0.4 - 12/01/2010
* licence: http://opensource.org/licenses/gpl-license.php GNU Public License
*
*/

/* selector */
fieldset.attribute {
	text-align: right;
	margin-top: 15px;
	height: 2.5em;
}

/* attributes */
.qte_solved { color: #006600; }
.qte_cancelled { color: #cc0000; }

.qte_solved, .qte_cancelled { font-weight:bold; }
